Allow clients Accept'ing "application/xml" access to services producing "application/*+xml" data?

Hi.

I have converted my SOAP web service to a JAX-RS/Jersey Application which
@Produces("application/soap+xml").

I have a client application which, given the URL of some service, will make a
request to that service using an HTTP Accept header containing "application/xml"
and feed the results to an XML parser.

Jersey returns HTTP error code '406' (Not Acceptable) in this case.

Section 7 of RFC 3023 ("XML Media Types") says "Applications may match for types
that represent XML MIME entities by comparing the subtype to the pattern
'**/**+xml'." and "NOTE: Section 14.1 of HTTP [RFC2616] does not support Accept
headers of the form "Accept: **/**+xml" and so this header MUST NOT be used in
this way."

Thus, I'm wondering if it would be acceptable to enhance Jersey to understand
that anything which @Produces data with a type matching "application/*+xml" is
capable of fulfilling an "application/xml" request?

(Candidate for errata inclusion in the JAX-RS spec?)

Your consideration is appreciated, thanks.
#### Environment
Operating System: All
Platform: All
#### Affected Versions
[1.1.5]