jersey-netty-connector - Relative path returned in Location header is used as is

https://www.rfc-editor.org/rfc/rfc7231#section-7.1.2
Location = URI-reference
The field value consists of a single URI-reference. When it has the form of a relative reference ([RFC3986], Section 4.2), the final value is computed by resolving it against the effective request URI ([RFC3986], Section 5).

In v2.40 relative URI is being used as is and resulting in errors.  
_An error occurred while invoking the REST endpoint.[[org.glassfish.jersey.netty.connector.internal.RedirectException: "Error determining redirect location: <redirect url>