Jersey is case-sensitive for percent encoded URIs

Sub resource methods below are recognized that they have same URI.

@GET
@Path("%5B%5D")

@GET
@Path("[]")

So this case causes conflict error at initialization time.

But sub resource methods below are recognized as different 2 resource paths.

@GET
@Path("%5B%5D")

@GET
@Path("%5d%5d")

This case, above two methods serve at their respective URIs.

RFC 3986 Section 2.1 says that ,
"The uppercase hexadecimal digits 'A' through 'F' are equivalent to
the lowercase digits 'a' through 'f', respectively. If two URIs
differ only in the case of hexadecimal digits used in percent-encoded
octets, they are equivalent."

I tried other platforms with some samples cases.
Apache(HTTP server),Tomcat,Subversion(via http access),
all of them are non case-sensitive for percent encoding.
#### Affected Versions
[1.8]