Allow to configure UriBuilder not to support ..

- [RFC 3986, Section 5.2.4](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.4), mandates for supporting `..` in the URI.
- https://owasp.org/www-community/attacks/Path_Traversal warns for attacks when using `..` and its encoded variants.



This would be required on the server side.