Allow use of relative location headers

# Description
In order to avoid issues with proxies (i.e. X-Forwarded-Port header being disabled by default on tomcat or the Forwarded header being ignored) servlets should be able to supply root-relative URLs for redirects without prior configuration.

# Cause

Due to [ServerRuntime.java#L416](https://github.com/eclipse-ee4j/jersey/blob/2.x/core-server/src/main/java/org/glassfish/jersey/server/ServerRuntime.java#L416) all location headers in responses will be rewritten from relative to abolsute URLs even when explicitly setting the header. 
This breaks responses if they are behind proxies with configurations that aren't supported by tomcat by default.

# Suggestions

The code to rewrite relative to absolute URLs should be removed or disabled by default

# Reproduction example

```java
@Path("locationRelative")
public Response test(@Context UriInfo uriInfo) {
    var location = uriInfo.getBaseUriBuilder()
                          .host(null)
                          .port(-1)
                          .scheme(null)
                          .build();

    return Response
                .status(Response.Status.TEMPORARY_REDIRECT)
                .header("Location", location.toString())
                .build();
}
```


[HTTP 1.1 RFC 2616](https://datatracker.ietf.org/doc/html/rfc2616#section-14.30) allowed only an absolute URI as a location.
[RFC 9110](https://www.rfc-editor.org/rfc/rfc9110.html#name-location) allows for a relative URI.
The change came in [RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.2).

We should be aware of some compatibility. While the [Jakarta REST Spec](https://jakarta.ee/specifications/restful-ws/4.0/jakarta-restful-ws-spec-4.0#bibliography) still refers to RFC 2616, at the same time, it refers to the Servlet Spec 4.0, which mentions RFC 7231. However, JAX-RS Spec 2.1 refers only Servlet 2.5 Spec, Servlet 4.0 is referred by Jakarta REST 3.0 earliest.

As a conclusion, the change should not go into Jersey 2.x, at least not by default. 
Starting with Jersey 3.0, the change can be done, but it is a behavior change. I am not inclined to introduce a behaviour change in Jersey, especially in pre-3.1 Jersey. 

Hence, Jersey 3.1 branch should be targeted by this request for a start.
