Use of Accept-Encoding header does not follow HTTP spec

When an encoder is not registered to a client, Jersey does not add an Accept-Encoding header. But, according to RFC 7231, section 5.3.4 "If no Accept-Encoding field is in the request, any content-coding is considered acceptable by the user agent."

But, clearly, Jersey CANNOT accept any content-coding (unless the proper encoders have been registered with the client).

Therefore, Jersey should specifically exclude "by the Accept-Encoding field stating either "identity;q=0" or "*;q=0" without a more specific entry for "identity"."
#### Environment
N/A
#### Affected Versions
[2.4]