Allow null entity in HTTP method verification

I would like to be able to have my service method return null in certain circumstances, as illustrated in the
following sample code:

@Path("/item")
@Singleton
public class ItemService {

@GET
public synchronized Item get(@QueryParam("id") int id)

{ return ItemManager.find(id); // may return null }

}

However, in doing so a runtime exception is thrown (javax.ws.rs.WebApplicationException) because the
verifyResponse method of the HttpMethodRule class is imposing a rule restricting the entity (return value) from
being null. This doesn't make much sense to me as I have implemented a MessageBodyWriter for the Item class
that is capable of correctly serializing a null value in the JSON representation (i.e., "null"). I would like for this
check to be removed so that a null value is provided to any applicable MessageBodyWriter, giving that writer the
chance to handle the null value appropriately.

I understand the intension of this check, however, it seems perfectly reasonable to me that a service whose
content-type is "application/json" could return null (so long as the representation of null in the response is
appropriate for that content-type).

RFC2616 (section14.13) states that "Any Content-Length greater than or equal to zero is a valid value". Similarly,
section 4.3 states that "All 1xx (informational), 204 (no content), and 304 (not modified) responses MUST NOT
include a message-body. All other responses do include a message-body, although it MAY be of zero length." Therefore, it should even be acceptable for the MessageBodyWriter to ignore the null value (entity), writing
nothing to the body of the response.
#### Environment
Operating System: Windows XP
Platform: All