WebTarget.resolveTemplates(Map...) result does not fit URI Template RFC6570

See template examples in RFC6570 section 3.2.8:
[http://tools.ietf.org/html/rfc6570#section-3.2.8](http://tools.ietf.org/html/rfc6570#section-3.2.8)

Example Code:
final String paramString = "/somwhere{?x,empty,undef}";
final WebTarget target = prepareTarget();
final Map<String, Object> paramMap = new HashMap<>();
paramMap.put("x", 0);
paramMap.put("empty", "");
final String resolved = target.path(paramString)
.resolveTemplates(paramMap).getUri().toString();

Expected result: [https://localhost:12345/rest/somwhere?x=0&empty=](https://localhost:12345/rest/somwhere?x=0&empty=)
Created result: [https://localhost:12345/rest/somwhere?x=0&empty=&undef=](https://localhost:12345/rest/somwhere?x=0&empty=&undef=)

I have to template approx. 50 query parameter. And I expect that only filled query parameter will be available in the result path.
#### Environment
javax.ws.rx-api-2.0.1
Java 8u40
#### Affected Versions
[2.22.1]