CookiesParser.parseNewCookie should parse attributes case-insensitively

According to [RFC-6265, section 5.2](http://tools.ietf.org/html/rfc6265#section-5.2) the attributes of the set-cookie header must be parsed case-insensitively. The method parseNewCookie() of class com.sun.jersey.core.header.reader.CookiesParser fails to do so.
#### Affected Versions
[1.16]